body {
    font-family: 'Cinzel', serif;
    font-size: 20px;
    text-align: center;
    color: white;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,227,1) 100%);
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
  }
  
  .navbar p {
    display: inline-block;
    padding: 10px 10px;
  }
  
  .navbar p a {
    text-decoration: none;
    color: white;
  }
  
  h2, h3, h4, p {
    margin: 0;
  }
  
  .main {
    padding-top: 35px;
    opacity: 0.9;
  }
  
  .mission {
    
    display: flex;
    height: 300px;
    background-image: url("https://1.bp.blogspot.com/-vOSMVzVSCIY/XHXEgKscl3I/AAAAAAAAC68/CcJijFGnYd8bYQfNvu_asEA6QfSk_Ix_gCKgBGAs/w2560-h1080-p-k-no-nu/anime-girl-kimono-maple-trees-autumn-4K-66.jpg");
    padding-top: 35px;
  }
  
  .mission .content {
    margin: auto;
    width: 100%;
  }
  
  #portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
  }
  
  .animes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .anime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    vertical-align: top;
    
  }
  
  .anime img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    padding: 10px;
    height: auto;
  }
  
  .anime span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
  }
  
  .team {
   background-image: url("https://1.bp.blogspot.com/-vOSMVzVSCIY/XHXEgKscl3I/AAAAAAAAC68/CcJijFGnYd8bYQfNvu_asEA6QfSk_Ix_gCKgBGAs/w3840-h1080-p-k-no-nu/anime-girl-kimono-maple-trees-autumn-4K-66.jpg");
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  
  .teammate {
    padding: 10px;
    flex-basis: 280px;
  }
  
  .teammate img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
  }
  
  .contact, .copyright {
    padding-top: 20px;
  }